@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.header {
    background-color: black;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.app__menu a {
    font-family: Roboto;
}

.container-header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.input-header {
    background-color: white;
    border: 2px solid rgb(255, 255, 255);
    color: #111;
    font-size: 18px;
    box-shadow: 3px 1px 0px 2px rgba(255, 255, 255, 0.62), 0px -1px 0px 2px rgba(255, 255, 255, 0.62);
    transform: skew(-3deg, 1deg);
    font-family: Roboto;
    letter-spacing: 2px;
    outline: none;
    width: 285px;
    margin: 0 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 285px;
    max-height: 500px;
    overflow-y: scroll;
    color: black;
    position: absolute;
    z-index: 1;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 6px;
}

*::-webkit-scrollbar {
    width: 10px;
}

.btnInfo {
    color: #888;
    background-color: white;
    font-size: 14px;
    margin-bottom: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

.app__menu ul {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    list-style: none;
    color: #fff;
}

.app__menu li {
    text-decoration: none;
    margin: 0 8px;
}

.app__menu a {
    color: #fff;
    text-decoration: none;
}

/* -----------MAIN---------- */

.main {
    padding-top: 50px;
}

.characters {
    padding: 50px 0;
    position: relative;
}

.comics {
    padding: 50px 0;
    position: relative;
}


.characters-block {
    cursor: pointer;
    background-color: #232222;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
}

.characters-block:hover {
    scale: 1.01;
    border: none;
}

.characters-block img {
    width: 100%;
    height: 350px;
}

.characters-all {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 10px;
}

.comics-all {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 10px;
    z-index: 2;
}

.characters-block-description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
}


.information-characters img {
    width: 200px;

}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.skewed-button {
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    font-weight: bold;
    box-shadow: 0 4px #999;
    transform: skewX(-20deg);
    position: relative;
    overflow: hidden;
}

.skewed-button::before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    bottom: -5px;
    left: -5px;
    right: -5px;
    top: -5px;
    transform: skewX(20deg);
    z-index: -1;
}

.skewed-button:hover {
    background-color: #cc0000;
}

.skewed-button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px) skewX(-20deg);
}

/* ывы */
.container-info {
    width: 100%;
    height: 150%;
    top: -200px;
    position: fixed;
    display: none;
}

.container-info.shadow {
    z-index: 10;
    display: block;
    background-color: #23222260;
}

.information-characters {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #232222;
    max-width: 400px;
    min-width: 350px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    font-family: Roboto;
    z-index: 5;
}

.information-characters img {
    width: 100%;
    max-width: 200px;
    /* border-radius: 50%; */
    margin-bottom: 15px;
}

.information-characters h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.information-characters p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.characters-comics-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-height: 250px;
    overflow-y: auto;
}

.char__comics-item {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 5px;
}


.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 32px;
    color: #999;
}

.close-button:hover {
    color: #666;
}


/* эээээ */

/* ----------FOOTER---------- */
.footer {
    background-color: black;
    font-family: Roboto;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

.footer a {
    text-decoration: none;
    color: black;
    color: white;
}

.footer ul {
    list-style: none;
    text-decoration: none;
}

.links-footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo-footer svg {
    width: 100px;
}

.links-footer {
    display: flex;
    flex-direction: column;
}

.links-footer-section a {
    display: flex;
    gap: 5px;
}

.main-footer-follow {
    display: flex;
    flex-direction: column;
    gap: 5px;
    fill: #767676;
    color: white;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 10px;
}

.spider-man-bg {
    width: 500px;
    height: 500px;
    position: fixed;
    background-image: url(https://pngimg.com/uploads/spider_man/spider_man_PNG56.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.iron-man-bg {
    width: 500px;
    height: 500px;
    bottom: 0;
    right: -250px;
    position: fixed;
    background-image: url(https://pngimg.com/uploads/ironman/ironman_PNG2.png);
    background-size: contain;
    background-repeat: no-repeat; 
}

.col {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.hide {
    display: none;
}

.loader {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 15px;
}

.loader:before,
.loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotatee 2s linear infinite;
}

@keyframes rotatee {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@media screen and (max-width: 768px) {
    .container-header {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 425px) {
    .input-header {
        width: 200px;
        
    }

    .main {
        padding-top: 50px;
    }

    .wrapper {
        width: 90%;
    }

    .container-header {
        width: 90%;
    }
    
    .iron-man-bg {
        display: none;
    }
}